{% extends "main/templates/layout_lists.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="button-panel">
    <span>{{msg}}</span>
</div>
<!-- Содержание тела -->
<div class="card_wrapper">
  <!-- Карточки оповещений -->
  {% for list in lists %}
  <div id="card_{{list.id}}" class="card_child" data-bs-toggle="modal" data-bs-target="#EditList" 
  onclick="EditFunc(
    cardid='{{list.id}}',
    name='{{list.list_name}}',
    description='{{list.list_description}}',
    audio_filename='{{list.sound.filename}}',
    audio_src='{{list.sound.get_url}}',
    abon_list='{% for abonent in list.abonents.all %}{{abonent.full_name}};{% endfor %}',
    is_mobile='{{list.main_phone}}',
    is_secondary='{{list.second_phone}}',
    is_work='{{list.work_phone}}',
    accept_code='{{list.accept_combination}}' 
    )">
    <div class="card">
      <div class="card-body">
        <div class="card_logo" align="center">
          <img src="static/main/free-icon-document.png"  height="50">
        </div>
        <h5 class="card-title">{{list.list_name}}</h5>
        <p class="card-text">{{list.list_description}}</p>
        <p class="card-text">Комбинация уведомления: {{list.accept_combination}}</p>
        <p class="card-text">Количество абонентов: {{list.abonents_count}}</p>
        <p class="card-text">Аудиофайл: {{list.sound.filename}}</p>
          {% if list.main_phone %}
          <p class="card-text"> 
            <i class="bi bi-phone"></i> Мобильный
          </p>
          {% endif %}
          {% if list.second_phone %}
          <p class="card-text">
            <i class="bi bi-phone"></i> Дополнительный
          </p>
          {% endif %}
          {% if list.work_phone %}
          <p class="card-text">
            <i class="bi bi-telephone"></i> Рабочий
          </p>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- =============================== -->
  <!-- Карточка создания -->
  <div id="create_card" class="card_child" data-bs-toggle="modal" data-bs-target="#CreateList" onclick="CreateFunc()">
    <div class="card">
      <div class="create-card">
        <div class="create-card-logo">
          <img src="static/main/free-icon-clipboard.png"  height="50">
        </div>
      </div>
    </div>
  </div>
  <!-- =============================== -->
</div>
<!-- Модальное окно создание списка-->
<div class="modal fade" id="CreateList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- заголовок -->
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">Создание списка оповещения</h5>
      </div>
      <!-- тело -->
      <div class="modal-body">
        <form id="create_list_form" method="post" action="{% url 'main:create_list'%}">
          {% csrf_token %}
          <!-- название -->
          <div class="mb-3">
            <label for="filename_input" class="form-label">Введите название</label>
            <input type="text" class="form-control" id="filename_input" maxlength="20" required name="listname">
          </div>
          <!-- описание -->
          <div class="mb-3">
            <label for="description_input" class="form-label">Введите краткое описание списка</label>
            <textarea class="form-control" id="description_input" rows="2" required name="list_text" maxlength="100"></textarea>
          </div>
          <!-- кодовая комбинация -->
          <div class="mb-3">
            <label for="accept_code_input" class="form-label">Введите цифру для подтверждения</label>
            <input class="form-control" id="accept_code_input" name="accept_code" maxlength="1" pattern="[0-9]{1}" placeholder="X" required >
          </div>
          <!-- выбор точек обзвона -->
          <div class="mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitch1" checked name="phone" value="mobile">
              <label class="form-check-label" for="flexSwitch1">Звонить на мобильный телефон</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitch2" name="phone" value="secondary">
              <label class="form-check-label" for="flexSwitch2">Звонить на дополнительный телефон</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitch3" name="phone" value="work">
              <label class="form-check-label" for="flexSwitch3">Звонить на рабочий телефон</label>
            </div>
          </div>
          <!-- звуковой файл -->
          <div class="mb-3">
            <label for="sound_input" class="form-label">Выберите звуковой файл сообщения</label>
            <div class="input mb-3">
              <input type="text" class="form-control" id="sound_input" list="sound_add" name="sound_name" autocomplete="off" required>
              <datalist id="sound_add">
                {% for sound in sound_list %}
                <option value="{{ sound }}"></option>
                {% endfor %}
              </datalist>
            </div>
          </div>
          <!-- абоненты -->
          <div class="mb-3">
            <label for="abonents_input" class="form-label">Выберите абонентов для оповещения</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" list="abonents_add" id="abonents_input" autocomplete="off">
              <span class="input-group-text" id="basic-addon1" onclick="AddAbonentFunc()">
                <div class="abonent_add_icon">
                  <i class="bi bi-plus"></i>
                </div>
              </span>
              <datalist id="abonents_add">
                {% for abonent in abonents %}
                <option value="{{ abonent.full_name }}"></option>
                {% endfor %}
              </datalist>
            </div>
          </div>
        </form>
      </div>
      <!-- подвал -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-outline-secondary btn-sm" form="create_list_form">Создать</button>
      </div>
    </div>
  </div>
</div>
<!-- =============================== -->
<!-- Модальное окно удаления списка-->
<div class="modal fade" id="DeleteList" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="delete_list_message">Вы действительно хотите удалить выбранный список?</h5>
      </div>
      <div class="modal-body">
        <form id="delete_list_form" method="post">
          {% csrf_token %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-outline-secondary btn-sm" form="delete_sound_form">Удалить</button>
      </div>
    </div>
  </div>
</div>
<!-- =============================== -->
<!-- Модальное окно редактирование списка-->
<div class="modal fade" id="EditList" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="EditListModalTitle">Список оповещения</h5>
      </div>
      <div class="modal-body">
        <!-- описание -->
        <div class="mb-3">
          <label id="list_description_label" class="form-label">Описание:</label>
          <p id="list_description"></p>
        </div>
        <!-- кодовая комбинация -->
        <div class="mb-3">
          <label for="accept_code_modal" class="form-label">Комбинация для подтверждения:</label>
          <p id="accept_code_modal"></p>
        </div>
        <!-- аудио -->
        <div class="mb-3">
          <label for="audio_filename" class="form-label">Аудиофайл:</label>
          <p id="audio_filename"></p>
          <audio id="audiofile_id" controls preload="metadata"></audio>
        </div>
        <!-- список направлений для вызова -->
        <div class="edit_modal_element">
          <label class="form-label">Вызов:</label>
        </div>
        <div class="mb-3" id='call_paragaph'></div>
        <!-- список абонентов -->
        <div class="mb-3">
          <label class="form-label">Список абонентов:</label>
          <ul id="abonents_list_id"></ul>
        </div>
        <!-- ======================== -->
      </div>
      <div class="modal-footer">
        <div id="trash-button">
          <button type="submit" class="btn btn-outline-secondary btn-sm me-auto" form="delete_list_form">
            Удалить <i class="bi bi-trash3-fill"></i>
          </button>
        </div>
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}