{% extends "main/templates/layout_report.html" %}
{% block title %}{% endblock %}
{% block content %}
<!-- Таблица с данными -->
<table class="table table-striped">
  <thead>
    {% if adm %}
    <td>Филиал</td>
    {% endif%}
    <td>Время начала оповещения</td>
    <td>Время завершения оповещения</td>
    <td>Запущено пользователем</td>
    <td>Список оповещения</td>
    <td>Количество абонентов</td>
    <td>Оповещено</td>
    <td align="center">Выгрузить отчет</td>
    <td align="center">Удалить отчет</td>
  </thead>
  <tbody>
     {%for report in reports %}
     <tr>
        {% if adm %}
        <td>{{report.department}}</td>
        {% endif%}
        <td>{{report.start_time|date:"d.m.Y H:i" }}</td>
        <td>
          {% if report.in_progress %}
            <div hx-get="/report_time_status/{{report.id}}" hx-trigger="every 2s"><span class="loader"></span></div>
          {%else%}
            {{report.end_time|date:"d.m.Y H:i"}}
          {%endif%}
        </td>
        <td>{{report.create_by_user}}</td>
        <td>{{report.list.list_name}}</td>
        <td>{{report.list.abonents_count}}</td>
        <td>
          {% if report.in_progress %}
            <div hx-get="/report_abon_status/{{report.id}}" hx-trigger="every 2s"><span class="loader"></span></div>
          {%else%}
            {{report.checked_abonents}}
          {%endif%}
        </td>
        <td align="center">
          <div id="gear-icon"> 
            <a class="abonent-edit" data-bs-toggle="modal" data-bs-target="#ExportReport" onclick="Exportreport('{{report.id}}')">
            <i class="bi bi-file-earmark-arrow-down"></i>
            </a>
          </div>
        </td>
        <td align="center">
          <div id="gear-icon"> 
            <a class="abonent-edit" data-bs-toggle="modal" data-bs-target="#DeleteReport" onclick="Deletereport('{{report.id}}')">
            <i class="bi bi-trash"></i>
            </button>
          </div>
        </td>
     </tr>
     {% endfor %}
  </tbody>
</table>
<!-- Модальное окно удаления отчета-->
<div class="modal fade" id="DeleteReport" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="delete_sound_message">Вы действительно хотите удалить выбранный отчет?</h5>
      </div>
        <form id="delete_report_form" method="post">
          {% csrf_token %}
        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-outline-secondary btn-sm" form="delete_report_form">Удалить</button>
      </div>
    </div>
  </div>
</div>
<!-- Модальное окно выгрузки отчета-->
<div class="modal fade" id="ExportReport" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="delete_sound_message">Выгрузить выбранный отчет?</h5>
      </div>
        <form id="export_report_form" method="post">
          {% csrf_token %}
        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-outline-secondary btn-sm" form="export_report_form" data-bs-dismiss="modal">Выгрузить</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}