{% extends "account/templates/layout_login.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="auth_modal">
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title fs-5">Авторизуйтесь для продолжения</h5>
      </div>
      <div class="modal-body">
        <form method="post" id="authorization_form" action={% url 'account:login' %}>
          {% csrf_token %}
          <div class="mb-3">
            <label for="work_phone_number" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="login" name="login">
          </div>
          <div class="mb-3">
            <label for="work_phone_number" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>  
        </form>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-outline-secondary btn-sm" form="authorization_form" class="fadeIn fourth" value="Войти">
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}