{% extends "account/templates/layout_account.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="button-panel">
    <!-- Кнопка-триггер модального окна -->
    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#CreateUserModal">
    Создать нового пользователя
    </button>
    <span>
      {% if request.user %}
      {{request.user.username}}
      {% else %}
      -
      {% endif %}
    </span>
</div>
<table class="table table-striped">
  <thead>
    <td>Логин</td>
    <td>Фамилия</td>
    <td>Имя</td>
    <td>Отчество</td>
    {% if adm %}
    <td>Филиал</td>
    {% endif%}
    <td>Роль</td>
    <td align="center">Редактировать</td>
  </thead>
  <tbody>
     {%for user in users %}
     <tr>
      <td>{{user.username}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.patronymic}}</td>
      {% if adm %}
      <td>{{ user.str_department }}</td>
      {% endif%}
      <td>{% if user.is_staff %}
            Администратор
          {% else%}
            Оператор
          {% endif %}
      </td>
      <td align="center">
        <div id="gear-icon"> 
        <a class="abonent-edit" data-bs-toggle="modal" data-bs-target="#EditUserModal" onclick="UserEdit(id='{{ user.id }}',
        first_name='{{user.first_name}}', last_name='{{user.last_name}}', patronymic='{{user.patronymic}}', login='{{user.username}}',
        role='{{user.is_staff}}')">
        <i class="bi bi-gear-fill"></i>
        </a>
      </div>
      </td>
     </tr>
     {% endfor %}
  </tbody>
</table>
<!-- Модальное окно создание пользователя-->
  <div class="modal fade" id="CreateUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="exampleModalLabel">Создание нового пользователя</h5>
        </div>
        <div class="modal-body">
          <form id="create_user" method="post" action="{% url 'account:create_user'%}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="first_name" class="form-label">Логин</label>
              <input type="text" class="form-control" name="username" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Пароль</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" autocomplete="on" required>
            </div>
            <div class="mb-3">
              <label for="first_name" class="form-label">Имя</label>
              <input type="text" class="form-control" name="first_name" required>
            </div>
            <div class="mb-3">
              <label for="last_name" class="form-label">Фамилия</label>
              <input type="text" class="form-control" name="last_name" required>
            </div>
            <div class="mb-3">
              <label for="patronymic" class="form-label">Отчетство</label>
              <input type="text" class="form-control" name="patronymic" required>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Выберите роль пользователя</label>
              <select class="form-control" aria-label="Пример выбора по умолчанию" name="role">
                <option value="1" selected>Оператор</option>
                <option value="2">Администратор</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-outline-secondary btn-sm" form="create_user">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Модальное окно редактирование пользователя-->
  <div class="modal fade" id="EditUserModal" tabindex="-1" aria-labelledby="user_edit_modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="user_edit_modal">Редактирование пользователя</h5>
        </div>
        <div class="modal-body">
          <form id="edit_user_form" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="first_name" class="form-label">Имя</label>
              <input type="text" class="form-control" id="first_name" name="first_name" required>
            </div>
            <div class="mb-3">
              <label for="last_name" class="form-label">Фамилия</label>
              <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>
            <div class="mb-3">
              <label for="patronymic" class="form-label">Отчетство</label>
              <input type="text" class="form-control" id="patronymic" name="patronymic" required>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Роль пользователя</label>
              <select class="form-control" aria-label="Пример выбора по умолчанию" name="role" id="role_select">
                <option value="1" selected>Оператор</option>
                <option value="2">Администратор</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div id="trash-button">
            <button type="submit" class="btn btn-outline-secondary btn-sm me-auto" form="delete_user_form">
              Удалить <i class="bi bi-trash3-fill"></i>
            </button>
          </div>
          <button type="submit" class="btn btn-outline-secondary btn-sm" form="edit_user_form">Сохранить</button>
          <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Форма удаления объекта-->
  <form id="delete_user_form"  method="post">{% csrf_token %}</form>
{% endblock %}