{% extends "account/templates/layout_login.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div >
      <p>Авторизуйтесь для продолжения</p>
    </div>
    <form method="post" action={% url 'account:login' %}>
      {% csrf_token %}
      <input type="text" id="login" name="login" placeholder="Имя пользователя">
      <input type="password" id="password" name="password" placeholder="Пароль">
      <input type="submit" class="fadeIn fourth" value="Войти">
    </form>
  </div>
</div>
{% endblock %}